/* break points */
/* 400px */
/* 600px */
/* 768px */
/* 992px */
/* 1200px */
/* colors */
.nav {
  position: -webkit-sticky;
  position: sticky;
  width: 380px;
  left: 0;
  top: 0;
  height: 100vh;
  color: #fff;
  font-size: 2rem;
  padding: 5rem 2rem;
  background-color: #1d1d1d;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media only screen and (max-width: 37.5em) {
  .nav {
    width: 250px;
  }
}

@media only screen and (min-width: 48em) {
  .nav {
    position: static;
    background-color: transparent;
    color: #1d1d1d;
    width: 100%;
    text-align: center;
    height: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__submenu {
  position: absolute;
  left: 0;
  top: 50px;
  background: #fff;
  width: 20rem;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

.nav__submenu li {
  display: block !important;
  text-align: start;
  border-bottom: 1px solid #f3f3f3 !important;
  cursor: pointer;
  position: relative;
}

.nav__submenu li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ff5252;
}

.nav__submenu li:hover::after {
  width: 100%;
}

.nav li {
  padding: 1rem;
  margin: 2rem 0;
  position: relative;
}

.nav li:hover .nav__submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav li .activeLink {
  color: #ef3939;
}

.nav li .activeLink::after {
  color: #ef3939;
  width: 100%;
}

@media only screen and (max-width: 48em) {
  .nav li .activeLink::after {
    width: 0;
  }
}

.nav li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.nav li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #ff5252;
}

.nav li a:hover {
  color: #ef3939;
}

.nav li a:hover::after {
  width: 100%;
}

@media only screen and (min-width: 48em) {
  .nav li {
    display: inline-block;
    margin: 0;
  }
}

.isActive {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.closeBtn {
  position: absolute;
  right: 15px;
  top: 5px;
  font-weight: bold;
  display: inline-block;
  padding: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

.search_box > * {
  text-align: center;
  margin: 0 auto;
}

/* txt */
/*# sourceMappingURL=NavMenu.module.css.map */