@import "../../Sass/variables";

.blogitem {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 5rem minmax(10rem, 1fr);
  grid-template-rows: repeat(2, max-content);
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 0 0.4rem rgba($color: #000000, $alpha: 0.1);

  &__cat {
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  &__desc {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
  }

  &__title {
    text-transform: capitalize;
  }

  &__date {
    grid-row: 1 / -1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__btn {
    align-self: end;
    font-size: 1.8rem;
    padding: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    border: 1px solid $royalred;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: $royalred;
    }
  }

  .day,
  .month {

    display: block;
    width: 100%;
    padding: 2rem 1rem;
    border: 1px solid #eee;
    text-align: center;
    font-size: 1.6rem;
  }


  .month {
    text-transform: capitalize;
  }
}
