@import "../../Sass/variables";

.auth {
  max-width: 35rem;
  margin: 10vh auto;
  padding: 3rem 2rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba($color: #000000, $alpha: 0.1);

  &__row {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    position: relative;
  }

  &__error{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(212, 71, 71);
    display: block;
  }

  .label {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: ease-in-out 0.3s;
    color: $light-gray-2;
  }

  .input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    background: rgba($light-gray, $alpha: 0.15);
  }

  input:placeholder-shown + .label {
    visibility: visible;
  }

  .input:not(:placeholder-shown) + .label,
  .input:focus + .label {
    top: -2rem;
    font-size: 1.3rem;
    color: #000;
  }

  .btn {
    border: none;
    color: #fff;
    display: block;
    width: 100%;
    margin: 4rem 0 1rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba($royalBlue, $alpha: 0.7);
    transition: 0.3s;
    border-radius: 0.6rem;

    &:hover {
      background-color: rgba($royalBlue, $alpha: 0.8);
    }
  }
}
